<!-- Header-->
<header class="bg-light py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-dark">
      <img
        class="animate__animated animate__bounceInDown"
        width="250px"
        src="https://www.pinclipart.com/picdir/big/395-3957770_3582869de9a2412793e6-online-shopping-icon-png-clipart.png"
        alt=""
      />
      <h1
        class="display-4 fw-bolder text-success animate__animated animate__zoomInDown"
      >
        Shop in style
      </h1>
      <br />
      <p class="animate__animated animate__lightSpeedInLeft">
        <b>Happiness is not in money, but in shopping...</b>
      </p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div
        class="col mb-5"
        *ngFor="let product of products | filter : 'sand' : 'title'"
      >
        <div class="card h-100 p-3">
          <!-- Product image-->
          <img
            class="card-img-top"
            [src]="product.image"
            [alt]="product.title"
            height="200px"
          />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.title.slice(0, 17) }}...</h5>
              <!-- Product price-->
              <b class="text-danger">${{ product.price }}</b>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                routerLink="view-product/{{ product.id }}"
                >View options</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
