<!-- Product section-->
<section class="py-5 mt-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0 w-75"
          [src]="viewProduct.image"
          [alt]="viewProduct.title"
        />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">ID: {{ viewProduct.id }}</div>
        <h1 class="display-5 fw-bolder">{{ viewProduct.title }}</h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through"
            >$ {{ viewProduct.price + 10 }}</span
          >
          <span> $ {{ viewProduct.price }}</span>
        </div>
        <p style="text-align: justify" class="lead">
          <span class="fs-4">Product Features: </span> <br />
          {{ viewProduct.description }}
        </p>
        <p class="fw-bolder">Rating: {{ viewProduct.rating.rate }}</p>
        <div class="d-flex">
          <button class="btn btn-outline-danger flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            Add to wishlist
          </button>
          <button
            class="btn btn-outline-success flex-shrink-0 ms-3"
            type="button"
          >
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
